.ant-tabs > .ant-tabs-nav {
  margin: 0 0 0 0;
  width: 100%;
}
.ant-tabs-content-holder {
  background-color: white;
  padding: 30px 0 0 0;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  margin: 0 4px 0 0 !important;
  width: 50%;
  text-align: center;
  color: rgba(180, 174, 174, 0.85);
  background: none;
  border: none;
  font-weight: 600;
  border-bottom: 2px solid rgba(180, 174, 174, 0.85);
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 2px solid #1890f7;
}
.ant-tabs {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}
.ant-tabs-nav-list {
  width: 100%;
}
.text-center {
  text-align: center;
}
.submit-cta {
  width: 150px;
}
.card-container {
  margin-top: 30px;
}
.login-tab form {
  max-width: 300px;
  margin: 0 auto;
}
.ant-picker,
.ant-select {
  width: 100% !important;
}


.wd-140 {
  width: 140px !important;
}