.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
/* .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
} */

.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: #ccc;
}

.slider.slider1 {
  background-image: url('../../img/slider-1.jpg');
  background-size: 100% 150%;
}

.slider.slider2 {
  background-image: url('../../img/slider-2.jpg');
  background-size: 100% 150%;
}

.slider.slider3 {
  background-image: url('../../img/slider-3.jpg');
  background-size: 100% 150%;
}

.slider.slider4 {
  background-image: url('../../img/slider-4.jpg');
  background-size: 100% 150%;
}

.ant-carousel {
  margin-bottom: 15px;
}