.guest-container {
  .site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
  .logo {
    width: 120px;
    height: 100%;
    float: left;
  }
  
  .logo  img {
    width: 100%;
    height: 100%;
    float: left;
    padding: 10px;
  }
  
  .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
    color: grey;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto",sans-serif;
  }
  
  .ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > span > a, .ant-menu-dark .ant-menu-item-selected > a:hover, .ant-menu-dark .ant-menu-item-selected > span > a:hover {
    color: #fff;
  }
  
  .header,
  .ant-menu-dark.ant-menu-horizontal {
    background-color: #fff;
  }
  
  .ant-card-grid {
    line-height: 1;
    font-size: 16px;
  }
  
  .ant-card-grid {
    line-height: 1;
    font-size: 16px;
  }
  
  .ant-card-grid svg {
    margin-right: 10px;
  }
}