.user-container {
  #components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  .logo {
    width: 120px;
  }
  
  .logo img {
    width: 100%;
    padding: 10px;
  }
  
  .ant-layout-header .logo,
  .ant-layout-header .logo img {
    height: 100%;
  }
  .header-title {
    line-height: 64px;
    display: inline;
    overflow: hidden;
  }
  
  .ant-layout-header .header-title {
    display: none;
  }
  aside .logo {
    display: none;
  }
  .ant-layout-header {
    padding: 0 15px;
  }
  @media (min-width: 992px) {
    .ant-layout-header .header-title {
      display: inline;
    }
    .ant-layout-header .logo {
      display: none;
    }
    aside .logo {
      display: block;
    }
    .ant-layout-header {
      padding: 0 50px;
    }
  }
  .ant-progress-bg {
    height: 18px !important;
  }
  .segment-desc {
    padding: 5px 24px;
  }  
}