.chapter-page {
  .video-btn {
    line-height: 1;
    font-size: 43px;
    height: auto;
    padding: 0 0 0 9px;
    min-width: 75px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 0px grey;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -37.5px;
    cursor: pointer;
    margin-top: -25px;
    z-index: 9999;
  }
  .video-control {
    position: relative;
    padding-top: 24px;
    text-align: center;
    .ant-btn {
      margin-left: 3px;
      text-transform: uppercase;
      margin-bottom: 7px;
      font-size: 20px;
      height: 40px;
    }
  }
}
video::-webkit-media-controls {
  display: none !important;
}
